Day 4 Resume Summarizer.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Candidate Job Application",
        "formDescription": "Please fill this form for your position",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Enter Your Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Enter Your Mobile Number",
              "requiredField": true
            },
            {
              "fieldLabel": "Enter Your Mail ID",
              "requiredField": true
            },
            {
              "fieldLabel": "Enter Your Position",
              "requiredField": true
            },
            {
              "fieldLabel": "Add your Resume",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .docx, .docs",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "ae1cdc74-d6aa-4950-89d0-334e72e28481",
      "name": "On form submission",
      "webhookId": "436252ce-6d82-4076-b9d9-0f0cecac3b99"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Add_your_Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "6ed2c1e2-38a6-40b1-a6c3-b0608da93050",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "manual",
        "inputSchema": "{ \n  \"type\": \"object\", \n  \"properties\": { \n    \"telephone\": { \n      \"type\": \"string\" \n    }, \n    \"city\": { \n      \"type\": \"string\" \n    }, \n    \"birthdate\": { \n      \"type\": \"string\" \n    }, \n    \"name\": { \n      \"type\": \"string\" \n    }, \n    \"email\": { \n      \"type\": \"string\" \n    }, \n    \"educational qualification\": { \n      \"type\": \"string\" \n    }, \n    \"job history\": { \n      \"type\": \"string\" \n    }, \n      \"skills\": { \n        \"type\": \"string\" \n      } \n  } \n}",
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm. \nOnly extract relevant information from the text. \nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value. \nphone number should not contain '+' "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "9c6b4490-c5eb-411c-94aa-40dff0874966",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        540,
        220
      ],
      "id": "cd4358d1-2439-4d8f-b85c-330997a688a0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yKxaP3BpeUb10kcb",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Individual Summary Prompt: \nWrite a concise summary of the following: \nEducational qualification: {{ $json.output['educational qualification'] }} \nJob History: {{ $json.output['job history'] }} \nSkills: {{ $json.output.skills }} \nUse 100 words or less. Be concise and conversational. \nFinal Prompt to Combine: \nWrite a concise summary of the following: \nCity: [No input connected] \nBirthdate: [No input connected] \nEducational qualification: [No input connected] \nJob History: [No input connected] \nSkills: [No input connected] \nUse 100 words or less. Be concise and conversational.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "dd355141-1ce6-46c3-b4f5-8a2aaeb37d81",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8d75388-4e5d-4abb-ba89-622aec85387f",
              "name": "Job_Description ",
              "value": "We are a web agency seeking a full-stack web developer proficient in  Python,  and HTML CSS , monog db. He has experience in GitHub and is capable of working hard ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        0
      ],
      "id": "2388057d-4f72-425c-a33c-562f31fa5046",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert HR professional and you need to assess whether the candidate matches the \nprofile sought by the company. You must give a score from 1 to 10, where 1 means the \ncandidate is not aligned with the requirements, and 10 means the candidate is ideal because \nthey fully match the desired profile. Additionally, in the \"consideration\" field, you must explain the \nreason behind the score you assigned. \nProfile Desired:{{ $json['Job_Description '] }}\nCandidate:{{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1380,
        0
      ],
      "id": "60101b68-3bda-4286-9ab7-5df73381b4d0",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1420,
        220
      ],
      "id": "5e622069-d46e-450f-9b91-f7001ecccde0",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "yKxaP3BpeUb10kcb",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional HR assistant. Based on our automated resume screening process, \ndecide which email content to generate: \nIf the candidate's screening score {{ $json.output }} is greater than 5, write a brief and \nprofessional congratulatory email to inform them that their resume has been shortlisted for the \nfirst round. Address the candidate by name:  \nOtherwise, politely inform them that they have not been selected for the current opportunity. \nDo not include any links or subjects. \nOnly return the email content body, concise and professional.  \nmake it more professional , dont mention the company name or best regards \ndraft a email your a professional email writer , just return only the content to send in the email \nwithout the subject ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1740,
        0
      ],
      "id": "96873f68-5f92-4326-a698-f45bae788ee9",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1780,
        220
      ],
      "id": "92e743bb-bd87-4cde-8fe8-bf8928c93abc",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "yKxaP3BpeUb10kcb",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Enter Your Mail ID'] }}",
        "subject": "Job Update",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2100,
        0
      ],
      "id": "ff3c83f0-14bb-4511-810e-ea425cea21c4",
      "name": "Gmail",
      "webhookId": "f4d93a10-a634-479d-90e4-cd2b7a8fe649",
      "credentials": {
        "gmailOAuth2": {
          "id": "RbwIY5GPhvHLBw8r",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ed27c29-b23f-45f9-9c09-d950edd79e43",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb4c4ecfaa99576d5e7cc56a3c84e7ed9fe0a7abecc50faa36c7766a31be0959"
  },
  "id": "SkBF3BrRtbJqZuHT",
  "tags": []
}